:root {
    --white: #ffffff;
    --base1: #E31C23;
    --base2: #000;
    --base3: #00843E;
  }

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-weight: bold;
}

h2 {
  text-align: center;
  color: var(--base2);
  padding: 10;
  width: '100%';
}

h4 {
  color: var(--base3);
  text-align: center;
}


  /* Scrollbar Styles */
  /* width */
  ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    /* border: solid 0.5px var(--highlight);
    border-radius: 5px; */
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--base2); 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--base3); 
  }